<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>



        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">DSKube</h1> 

                <p class="lead">Standalone open-source self service Ai/ML tool. </p>   
                <a  th:href="@{/}">Back to Home</a>

                <h2 th:inline="text">Experiment: Datasource <span th:text="${experiment.name}"></span></h2>

                <div class="row">
                    <div class="col col-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link "  href="#">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/experiment/{id}/datasource(id=${experiment.id})}">Data Source</a>
                            </li>
                            <li class="nav-item nav-pills" >
                                <a class="nav-link active" th:href="@{/experiment/{id}/datacleansing(id=${experiment.id})}">Data Cleansing</a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link " th:href="@{/experiment/{id}/dataexploration(id=${experiment.id})}">Data Exploration</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/experiment/{id}/featurebuilding(id=${experiment.id})}">Feature Building</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " th:href="@{/experiment/{id}/modelbuilding(id=${experiment.id})}">Model Building</a>
                            </li>
                           
                             <li class="nav-item">
                                <a class="nav-link" th:href="@{/experiment/{id}/restapi(id=${experiment.id})}">REST API</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col" >
                        <div class="alert alert-danger" role="alert">
                            Duplicate rows or rows with columns having missing values will be automatically dropped.
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>


                                </tr>
                            </thead>
                            <tr th:each="col : ${columns}">
                                <td th:text="${col.name}"></td>
                                <td>

                                </td>
                                <td th:inline="text" >
                                    <select class="s" th:attr="id = ${col.id}, data-exp-id=${experiment.id}, data-col-id=${col.id}, data-col-type=${col.type}">
                                        <option th:value="${col.type}" selected th:text="${col.type}"></option>
                                        <option>Other</option>
                                        <option value="Integer">Integer</option>
                                        <option value="String">String</option>
                                        <option value="Date">Date</option>
                                    </select>
                                </td>


                            </tr>
                        </table>
                        <A class="btn btn-success" th:href="@{/experiment/{id}/datacleansing/cleanallcolumns(id=${experiment.id})}" >CLEAN DATA</A>

                    </div>
                </div>
            </div>

        </div>




        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>




        <div th:replace="fragments/js"></div>


        <!--        <script>
                    Vue.createApp({
                        data() {
                            return {
                                message: 'Hello Vue!'
                            }
                        }
                    }).mount('#app')
                </script>-->


    </body>
</html>


<script>
    $(document).ready(function () {
        $("select.s").change(function () {
            var experimentId = $(this).attr("data-exp-id");
            var columnId = $(this).attr("data-col-id");
            var actualType = $(this).val();

            const data = {
                'experimentId': experimentId,
                'columnId': columnId,
                'actualType': actualType
            };
            var url = "http://localhost:8080/experiment/" + experimentId + "/datacleansing";
            fetch(url, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });

        });
    });
</script>